
/* Header.css */

.header-container1 {
  background-image: url('./contact.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
}

.header-container1::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-content1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Text color */
  z-index: 1; /* Place the content above the gradient layer */
}

.header-content1 h1 {
  font-size: 60px;
  font-weight: bold;

}
.header-content1 p{
font-size: 40px;
}
.header-content1 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.header-content1 a {
  background-color: #1b2938;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  width: fit-content;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.video-container {
  flex: 1;
  padding: 20px;
}

.contact-video {
  max-width: 100%;
  height: auto;
  margin-top: 80px;
  border-radius: 8px;
  
}

.form-container {
  flex: 1;
  padding: 20px;
  margin-top: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  color: #fff;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}


button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 15px; 
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
  width: 150px;
  margin-bottom: 50px;
  align-items: center;
  font-size: 18px;
}

button:hover {
  background-color: #b31313;
}

h1{
  margin-top: 100px;
}